@import 'material-design-icons/iconfont/material-icons.css';
@import '@material/react-material-icon/dist/material-icon.css';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-drawer/index.scss';

/* 
@import '@material/react-menu-surface/index.scss';
@import '@material/react-menu/index.scss'; 
*/