$default-font: 'Dosis',
Arial,
Helvetica,
sans-serif !important;
@function my-color($n: 'primary', $d: 'default') {
    @debug #{$n}#{$d};
    @if $n=='primary'OR $n=='complementary' {
        @if $n='primary' {
            @if $d=='50' {
                @return #e2f2fb;
            }
            @if $d=='100' {
                @return #b8ddf7;
            }
            @if $d=='200' {
                @return #8bc9f3;
            }
            @if $d=='300' {
                @return #5bb3ee;
            }
            @if $d=='400' {
                @return #30a3ec;
            }
            @if $d=='500' {
                @return #0094ea;
            }
            @if $d=='600' {
                @return #0087dd;
            }
            @if $d=='700' {
                @return #0075cb;
            }
            @if $d=='800' {
                @return #0064b9;
            }
            @if $d=='900' {
                @return #00479c;
            }
            @if $d=='default' {
                @return #5bb3ee;
            }
        }
        @if $n='complementary' {
            @if $d=='50' {
                @return #fffeed;
            }
            @if $d=='100' {
                @return #fffad0;
            }
            @if $d=='200' {
                @return #fff5b2;
            }
            @if $d=='300' {
                @return #fff096;
            }
            @if $d=='400' {
                @return #ffeb81;
            }
            @if $d=='500' {
                @return #fde670;
            }
            @if $d=='600' {
                @return #ffdd72;
            }
            @if $d=='700' {
                @return #ffce70;
            }
            @if $d=='800' {
                @return #fbb868;
            }
            @if $d=='900' {
                @return #ee965b;
            }
            @if $d=='default' {
                @return #ee965b;
            }
        }
        @return #000;
    }
    @else {
        @return #000000;
        @error "The first param of the function 'my-color' must either 'primary' or 'complementary'"
    }
}

:root {
    @each $name in 'primary',
    'complementary' {
        --color-#{$name}-50: my-color($name, 50);
        @for $dark from 1 through 9 {
            --color-#{$name}-#{$dark}: my-color($name, $dark * 100);
        }
    }
}