$default-font: 'Dosis',
Arial,
Helvetica,
sans-serif !important;
$color-primary-50: #e2f2fb;
$color-primary-100: #b8ddf7;
$color-primary-200: #8bc9f3;
$color-primary-300: #5bb3ee;
$color-primary-400: #30a3ec;
$color-primary-500: #0094ea;
$color-primary-600: #0087dd;
$color-primary-700: #0075cb;
$color-primary-800: #0064b9;
$color-primary-900: #00479c;