$default-font: 'Dosis',
Arial,
Helvetica,
sans-serif !important;
$color-primary-100: #5bb3ee;
$color-primary-200: #5bb3ee;
$color-primary-300: #5bb3ee;
$color-primary-400: #30a3ec;
$color-primary-500: #5bb3ee;
$color-primary-600: #5bb3ee;
$color-primary-700: #5bb3ee;
$color-primary-800: #5bb3ee;
$color-primary-900: #5bb3ee;