/* Imports */

@import './material/index.scss';

/* Variables */

@import 'mis-variables';

/* SASS Code */

%no-padding {
    padding: 0;
    margin: 0;
}

html {
    @extend %no-padding;
    font-family: $default-font;
}

body {
    @extend %no-padding;
}

.material-icon,
.material-icon-outlined,
.material-icon-sharp,
.material-icon-round,
.material-icon-two-tone {
    color: inherit !important;
}