/* External Imports */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

/* Module Imports */

@import './material/index.scss';

/* Own Imports */

@import './material-icons.scss';
@import './drawer.scss';

/* Variables */

@import 'mis-variables';

/* SASS Code */

%no-padding {
    padding: 0;
    margin: 0;
}

html {
    @extend %no-padding;
    font-family: $default-font;
}

body {
    @extend %no-padding;
}

.mdc-top-app-bar {
    @include mdc-top-app-bar-fill-color-accessible($color-primary);
}

.mdc-top-app-bar__title {
    color: white;
}